/*NAVBAR*/
.menu {
  display:flex;
  background-color: #208b3a;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  min-height: 5rem;
  background-color: #208b3a;
  align-items: center;
  /* box-shadow: 2px 0 0 5px #000; */
  flex: 1 1 20%;
}

.menu-btn {
  display: none;
  width: 60px;
   position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  }

.logo-container {
  background-color: #208b3a;
  margin-left: 4%
}

.logo:hover {
  filter: drop-shadow(0 0 5px #57b655);
}

.logo {
  background: url('./assets/logo.svg') no-repeat center;
  width: 200px;
  height: 85px;
  transition: filter .5s;
}

a {
  text-decoration: none;
  color: #fff;
}

li a:hover {
  border-bottom: 1px solid #fff;
}

li {
  list-style: none;
  padding: 1.5rem 3.5rem;
}

/*SECTION-1*/
.section-1 {
  background: url("./assets/pexels-photo.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 850px;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.section-1 p {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  width: 70%;
}

.section-1 h1 {
  width: 60%;
  font-size: 3.5rem;
  text-align: center;
}


/*CARDS SERVICES*/
.section-1 ~ h2 {
  text-align: center;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  gap: 3rem;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.card h2 {
  font-size: 1.5rem;
}

.card p {
  font-size: 1.1rem;
}

.card h2,
.card p{
  text-align: center;
}

.card img {
  width: 360px;
  max-width: 400px;
}

/*SPOTIFY BUTTON*/
.auth-button{
  display:flex;
  align-items:center;
  /* position:absolute;
  top:125%;
  left:50%; */
  /* transform:translate(-50%, -100%); */
  margin-top: 50px;
  padding:10px 20px;
  background:#111;
  border:3px solid #fff;
  color:#fff;
  border-radius:20px;
  font-size:1.2em;
}

.auth-button:hover {
  cursor: pointer;
}

.auth-button__icon{
  width:30px;
  height:30px;
  margin-left:15px;
}

/*RESPONSIVE*/
@media screen and (max-width : 760px){
  .navbar {
    display: block;
    position: absolute;
    top:0;
    left:0;
    opacity: .9;
    min-height: 100%;
    padding: .3rem;
    transform: translateX(-500px);
    width: 60%;
    background: #303030;
    transition: transform .5s ease-in-out;
  }

  .menu-btn {
    display: block;
    width: 60px;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
  }

  .navbar.active {
    display:block;
    font-size: 1.5rem;
    transform: translateX(-20px);
    transition: transform .5s ease-in-out;
  }

  .section-1 h1 {
    font-size: 3rem;
   
  }
  .section-1 p {
    font-size: 1.4rem;
    width: 85%;
  }

  .auth-button {
    top:130%;
    font-size:1.2rem;
  }
}